@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Introduction</h3>
<p>This web application allow a user to add, edit, delete and search a database of asset and return the result.</p>

<h3>Requirement</h3>
<p>Developed MVC in VS 2019 based on the Entity Framework with local MSSQL.</p>
