@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hoang Nguyen<br />
    <abbr title="Email"><strong>Email:</strong></abbr>
    <a href="hoang.hn.nguyen@gmail.com">hoang.hn.nguyen@gmail.com</a>
</address>